/* .wd-col-20pc {
    float: left;
    width: 20%;
  }
  .wd-col-60pc {
    float: left;
    width: 60%;
  } */
  
  .wd-kanbas-navigator {
    background-color: black;
    width: 1px;
    font-size: 0.8em;
    height: 100vh;
    position: fixed;
    float: left;
    border-radius: none;
    border: none;
  }

  .wd-kanbas-navigator .list-group-item.active {
    color: red;
    background-color: white;
    text-decoration: none;
    border-radius: none;
    border: none;
}

  .wd-kanbas-navigator .list-group-item{ 
    background-color: black;
    color: white;
    width: 100px;
    font-size: 0.8em;
    height: 100vh;
    float: left;
    border-radius: none;
    border: none;
  }

  /* .active{
    background-color: white;
    padding: 5px;
    border-radius: none;
  } */
  
  /* .wd-active-kanbas-nav {
    background-color: white;
    padding: 5px;
    border-radius: none;
  }

  .wd-active-kanbas-nav p{
    color: black;
  } */
  
/* .wd-kanbas-navigator li {
  list-style-type: none;
  margin-bottom: 20px;
  text-align: center;
  border-radius: none;
} */
  
/* .wd-kanbas-navigator li a {
  color: white;
  text-decoration: none;
}

.wd-no-boarder li a {
  border: none;

} */
  
/* .wd-fg-color-red {
    color: red;
}

.wd-fg-color-black {
  color: black;
}

.wd-color-light-blue {
  color: lightskyblue;
}

.wd-color-sky-blue {
  color: rgb(67, 154, 184);
}

.wd-color-med-blue {
  color: rgb(139, 199, 231);
} */
/* 
.wd-fg-color-gray {
  color: gray;
}

.wd-color-green {
  color: green;
}

.wd-color-black {
  color: black;
} */


/* .container 
{ position: relative; }
.container img 
{ display: block; }
.container .fa-ellipsis-v 
{ position: absolute; top:0; right:0; } */
